# macOS
.DS_Store

# Python Cache-Dateien
__pycache__/
*.pyc
*.pyo

# Pytest Cache
.pytest_cache/

# Virtuelle Umgebung
.venv/
venv/

# Logdateien
logs/
*.log

# VS Code Einstellungen
.vscode/

# Temporäre Dateien
*.tmp